.todolistitem{
  cursor: pointer;
  margin: 5px 0;
  width: 100%;
  display: flex;

  &:hover{
    background:#EEE;
  }
}

.todolistitem-done{
  background: #F5F5F5;
  color: #999;

  &>.todolistitem__bar{
    background: #CCC !important;
  }

  &>.todolistitem__text{
    text-decoration: line-through;
  }
}

.todolistitem__bar{
  min-width: 6px;
  align-items: stretch;
}

.todolistitem__text{
  padding:3px 0;
  box-sizing: border-box;
  margin:auto;
  margin-left: 10px;
  word-break: break-all;
}